.kutu {
    display: grid;
    place-items: center; 
    
    width: auto;
    height: auto;
    
  }
  .grikutu{
    margin-left:  70px;
    margin-right: 70px;
    
    height: 80px;
    background-color: rgba(235, 232, 232, 0.809);
}
.pa{
    text-align: center;
}
.search-form {
    display: flex;
    align-items: center;
    flex-direction: column; 
  margin-bottom: 0px;
  margin-left: 500px;
  margin-right: 500px;
     /* Genişliği 350px'den 500px'e çıkardık. Daha da büyütebilirsiniz. */
     
    background-color: #fff;
    
}

.search-input {
    border: none; /* Metin kutusunun kenarlığını kaldırır */
    outline: none; /* Odaklandığında çıkan kenarlığı kaldırır */
    flex-grow: 1; /* Mevcut boşluğu doldurması için genişletir */
    padding: 0px;
    font-size: 15px;
    
}

.search-button {
    background-color: hsl(0, 0%, 100%); /* Mavi arka plan rengi */
    color: rgb(14, 14, 14); /* Metin rengi beyaz */
    border: 1px ;
    border-radius: 5px;
    box-shadow: 10px;
    margin: 5px;
    cursor: pointer; /* Fare imlecini el işaretine dönüştürür */
    
  
}
.button-group {
    display: flex;
    justify-content: center; /* Butonları yatayda ortala */
}

.footer-table {
    width: 100%;
    margin-top: 3px;
    background-color: #eeeeee;
}

.footer-table td {
    
    padding: 10px;
    vertical-align: top;
    font-size: 15px;
}

.footer-table a {
    color: #0000FF;
}

.footer-table .col-1 {
    width: 37%;
    background-color: #7EE5DA;
}

.footer-table .col-2 {
    width: 25%;
    background-color: #7EE5DA;
}

.footer-table .col-3 {
    width: 38%;
    background-color: #73D3C9;
}

.footer-table p {
    margin: 0;
}

.footer-table input[type="text"] {
    
    width: 100px;
    margin-bottom: 5px;
}

.footer-table input[type="button"] {
    font-size: 10px;
}
.butun{
    margin-left:  70px;
    margin-right: 70px;
    
    height: 80px;
}